<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/Picture1.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Sarah Plazio.</p>
        <p>Data from mapbox.com and weatherstack.com was used.</p>
        <img class="portrait" src="/img/istock-625331414.jpg">
    </div>
    {{>footer}}
</body>

</html>